table.board.container
  tr#row1
    td#1.square
    td#2.square.v
    td#3.square
  tr#row2
    td#4.square.h
    td#5.square.v.h
    td#6.square.h
  tr#row3
    td#7.square
    td#8.square.v
    td#9.square
div(style='text-align:center;')
  button#newGame.visible New game!
