#Board
  table
    tr#row1
      td.square X
      td.square.v O
      td.square X
    tr#row2
      td.square.h O
      td.square.v.h X
      td.square.h X
    tr#row3
      td.square O
      td.square.v X
      td.square X

  //-  $('.square').click(function() {
  //-   let value = $(this).html()
  //-   $(this).html(value === 'X' ? 'O' : 'X')
  //- })
