html
  head
    script(src='https://code.jquery.com/jquery-2.2.4.js', integrity='sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=', crossorigin='anonymous')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='game.js')
    script(src='front-end.js')
    link(rel='stylesheet', type='text/css', href='styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')

  body
    include ./includes/nav.pug
    h3 Welcome to Tic Tac Toe!
    p
      span You are in 
      span#mode 0
      span -player mode
    h4.score
    h4.scoreBoard
    include ./includes/board.pug
