a {
  text-decoration: none;
}
/*.square {
  color: red;
}*/

/*.board {
  border: solid 2px;
}*/

/*.container {
  display: flex;
  flex-position: center;
  display: - webkit-flex;
  align-content: center;
}*/

@keyframes tanimate {
  0%   {
    transform: scale(0.5);
  }
  100% {transform: scale(1)
  }
}

.square{
    width:100px;
    height:100px;
    color: black;
}

.v{
    border-left:4px solid #000;
    border-right:4px solid #000;
    color: red;
    animation-name: tanimate;
    animation-direction: alternate;
    animation-duration: 5s;
}

.h{
    border-top:4px solid #000;
    border-bottom:4px solid #000;
    color: blue;
    animation-name: tanimate;
    animation-direction: alternate;
    animation-duration: 5s;
}

.board {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

/*#board {
    display: inline-block;
    margin-top: 2%;
    display: flex;
    align-content: center;
}*/

table {
    background-color: #FAFAFA;
    text-align: center;
    font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
    /*align-content: center;*/
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility:visible;
}

body {
  text-align: center;
  font-family: helvetica;
}

.nav {
  background-color: yellow;
  border: 1px solid blue;
  display: inline;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
